@model IEnumerable<Proactiv.Models.TopicsModels>

@{
    ViewBag.Title = "Create";
}

<h2>Topics</h2>

<p>
    @Html.ActionLink("Add a new topic", "Create")
</p>


@foreach (var item in Model)
{
    <div class="col-md-12 topic">
        <h2>@Html.DisplayFor(modelItem => item.TopicTitle)</h2>
        <h2>@Html.DisplayFor(modelItem => item.TopicTag)</h2>
        <p>@Html.DisplayFor(modelItem => item.TopicDescription)</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        @Html.ActionLink("Edit", "Edit", new { id = item.TopicID }) |
        @Html.ActionLink("Details", "Details", new { id = item.TopicID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TopicID })
    </div>
}

